/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid, .fa-regular {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
  /* width: 1440px; */
   
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto;
    
}
p{
    font-size:16px;
    color: #2a2a2a;
    font-weight: 500;
    
}
/* header */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 15px 0px;
    background-color: white;
}

.bookiLogo img{
    width: 40%;
}



nav{
margin-bottom: 50px;

}
nav ul {

list-style: none;
display: flex;
gap: 30px;
margin: 0;
padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    
}
nav ul li a:hover{

    color:#0065FC;
    border-top: 2px solid  #0065FC;
    padding-top: 20px;

    transition: all 0.1s ease-in-out;
    
}


/* Search Section  */
.search-section {
    display: inline;
    text-align: left;
    padding: 40px 20px;
    max-width: 600px;
    margin: 0 auto;
}

/* SEARCH BOX */
.search-box {         /*needs fixing*/
    width: 350px;     /*if width <300px searchbutton is outside the border*/
    display: flex;
    align-items: center;
    background: white;
    border-radius: 30px;
    border: 1px solid #f0f0f0;
    margin-top: 35px;
    margin-bottom: 30px;
    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   padding: 0px;
}


.search-box .location-icon {
    font-size:22px;
    border-radius: 30px 0 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: #f0f0f0;
    
}

.search-box .location-icon i{

    color: black;
}

.search-box input {
    flex: 1;
    border: none;
    outline: none;
    background: none;
    font-size: 17px;
    font-weight: bold;
    padding: 15px 5px 15px 5px;

    text-align: center;
}

.search-box input::placeholder{
    color: black;
}

.search-box .search-btn {
    background:#0065FC;
    color: white;
    font-weight: bold;
    border: none;
    padding: 15px 15px;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
    font-size:18px;
   
}

.search-box .search-btn:hover {     
    background: #0b5bd3; 

}
    /* Hide icon by default on larger screens */
.search-box .search-btn i {
    display: none;
}    


/* FILTERS */
.filters {
    display: flex;
    gap: 10px;
    justify-content: left;
    margin-top: 20px;
    margin-bottom: 25px;
}

.filter-btn {
    display: flex;
    align-items: center;
    gap: 5px;
   
    background-color: white;
    border: 2px solid #d9d9d9;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 800;
    margin-left: 10px;

}

.filter-btn span {
    font-size: 20px;
    font-weight: 700;
   
}

.filter-span {
    font-size: 17px;
padding-top: 10px;
font-weight: bold;

}
.filter-btn:hover {
    
    background: #DEEBFF ;
}

#i {
    font-size: 10px;
border: 1px solid #d9d9d9;
border-radius: 50%;
padding-inline: 7px;
padding-block: 4px;
margin-right: 8px;
margin-top: 5px;

}
/* AVAILABILITY INFO */
.availability-info {
    margin-top: 15px;
    
    /* color: #777; */
}


/* > project < standard */
.main-container {
    width: 80%;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/* Accommodation And Popular */
.accommodation-and-popular {
    display: flex;
    justify-content:space-between;  
}

.accommodation-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing:border-box;
}

/* Accommodation */
.accommodation {
    width: 65%;
   
}
.accommodation .popular-cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px; /* Space between cards */
    align-items:  start; 
}
.accommodation .popular-cards .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    padding: 5px;
    margin-top:33px;
    margin-bottom: 0px;
    overflow: hidden; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    
}

/* Accommodation Images (Full Width, Fixed Height) */
.accommodation .popular-cards .card img {
    width: 100%;
    height: 124px; 
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
/* Text Content Inside Accommodation Cards */
.accommodation .popular-cards .card-content {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.show-more {
    grid-column: 1 / span 3; /* Stretch across all columns */
    text-align: left;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    width: 20%;
}
/****** Popular ***********/
.popular {
    width: 32%;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}


/* Things to Do Section */

/* Things to Do Section */
.things-to-do {
    margin: 50px 0px 30px 0;
    
    padding: 30px;
    text-align: left;
}

.things-to-do h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.things-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
}

.thing-card {
    background: white;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    
    /* overflow: hidden; */
    text-align:left;
    
    display: flex;
    flex-direction: column;
    height: 100%;
    
   
}

.thing-card img {
    width: 100%;
    height:100%;
    /* max-height: 500px; */
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.thing-title {
    font-size: 18px;
    font-weight: bold;
    padding: 15px ;
    margin: 15px;
    flex-shrink: 0;
}

/* Links */

.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.card-link-paris {
    text-decoration: none;
}


/*Footer*/

footer {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.footer-container{

    width: 100%;   /*adjusts size of the whole footer*/
}
table{

    width: 100%;
    table-layout: fixed;
}

th, td {
    padding: 6px;
    text-align: left;
    font-size: 18px;
}

th {

    width: 33.33%
}

tr td a{

text-decoration: none;
color: inherit;
/* display: block; */
position: relative; /* Required for positioning the pseudo-element */
}
tr td a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px; /* The height of the underline */
   background-color:#7C7874 ;
    transition: width 0.1s ease-out; /* Smooth transition for the underline */
}




tr td a:hover{

    text-decoration: underline;

}

tr td a:hover::after {
    width: 100%; /*Full width when hovered*/
}

/*to change anchors in TH as well*/

tr th a{

    text-decoration: none;
    color: inherit;
    display: block;
    position: relative; /*Required for positioning the pseudo-element*/
    }
    
    /* 
    tr th a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 2px; The height of the underline
       background-color:#7C7874 ;
        transition: width 0.1s ease-out; Smooth transition for the underline
    }
    
    
    
    
    tr th a:hover{
    
        text-decoration: underline;
    
    }
    
    tr th a:hover::after {
        width: 100%; Full width when hovered
    }
     */




