/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid, .fa-regular {
    color: var(--main-color);
}

body {


   margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    
    
}

.main-container {
   
    max-width: 1440px;
    min-width: 1024px;
    width: 100%;
    margin: 0 auto; /* Ensures centering */
    padding: 0 50px; 
    box-sizing: border-box;
}




h1 {
    height: 26px;
    width: 1340px;
    font-size: 22px;
    font-weight: 700;
    margin: 0 auto;
    
    line-height: 100%;
    letter-spacing: 0%;

    
}

 p{
    margin: 8px 0px;
    font-size:16px;
    color: #2a2a2a;
    font-weight: 400;
    height: 19px;
    
}

.headline   {
    max-width: 100%;
    width: 100%;
    width: 1340px;
    height: 53px;
    gap: 8px;
}
/* header */

.navbar{
    width: 100%;
    max-width: 1425px;
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 15px 0px;
    background-color: white;
}

.bookiLogo img{
    width: 61.09px;
    height: 19px;
    top: 30px;
    left: 50px;
}



nav{
margin-bottom: 50px;

}
nav ul {

/* list-style: none;
display: flex;
gap: 30px;
margin: 0;
padding: 0; */

width: 335px;
padding-right: 50px;
padding-left: 50px;
left: 1055px;
gap: 68px;
display: flex;

}

nav ul li {
    display: inline;
    font-weight: 400;
    size: 16px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    
}
nav ul li a:hover{

    color:#0065FC;
    border-top: 2px solid  #0065FC;
    padding-top: 17px;

    transition: all 0.1s ease-in-out;
    
}


/* Search Section  */
.search-section {
    display: inline;
    text-align: left;
    padding: 40px 20px;
    max-width: 100%;
    width: 100%;
    /* max-width: 600px;
    width: 1340px; */
    height: 281px;
    gap: 35px;
    
   
}

/* SEARCH BOX */
.search-box {         /*needs fixing*/
    width: 350px;     /*if width <300px searchbutton is outside the border*/
    display: flex;
    align-items: center;
    background: white;
    border-radius: 30px;
    border: 1px solid #f0f0f0;
    margin-top: 35px;
    margin-bottom: 30px;
    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   padding: 0px;
}


.search-box .location-icon {
    font-size:22px;
    border-radius: 15px 0 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: #f0f0f0;
    
}

.search-box .location-icon i{

    color: black;
}

.search-box input {
    flex: 1;
    border: none;
    outline: none;
    background: none;
    font-size: 17px;
    font-weight: bold;
    padding: 15px 5px 15px 5px;

    text-align: center;
}

.search-box input::placeholder{
    color: black;
}

.search-box .search-btn {
    background:#0065FC;
    color: white;
    font-weight: bold;
    border: none;
    padding: 15px 15px;
    /* border-radius: 0 30px 30px 0; */
    cursor: pointer;
    font-size:18px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
   
}

.search-box .search-btn:hover {     
    background: #0b5bd3; 

}
    /* Hide icon by default on larger screens */
.search-box .search-btn i {
    display: none;
}    


/* FILTERS */
.filters {
    display: flex;
    gap: 5px;
    justify-content: left;
    margin-top: 20px;
    margin-bottom: 25px;
}

.filter-btn {
    display: flex;
    align-items: center;
    gap: 5px;
   
    background-color: white;
    border: 2px solid #d9d9d9;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 800;
    margin-left: 10px;

}

.filter-btn span {
    font-size: 20px;
    font-weight: 700;
   
}

.filter-span {
    font-size: 17px;
padding-top: 10px;
font-weight: bold;

}
.filter-btn:hover {
    
    background: #DEEBFF ;
}

#i {
    font-size: 10px;
border: 1px solid #d9d9d9;
border-radius: 50%;
padding-inline: 7px;
padding-block: 4px;
margin-right: 8px;
margin-top: 5px;

}
/* AVAILABILITY INFO */
.availability-info {
    margin-top: 15px;
    margin-bottom: 25px;
    
    /* color: #777; */
}


/* > project < standard */


.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    margin-bottom: 8px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/* Accommodation And Popular */
.accommodation-and-popular {
    display: flex;
    justify-content:space-between;  
    /* flex-wrap: wrap; */
    /* width: 1340px; */
    width: 100%;
}

.accommodation-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing:border-box;
}

/* Accommodation */
.accommodation {
    width: 871px;
    height: 614px;
    gap: 30px;
    padding: 30px;
    border-radius: 15px;
   
   
}

.accommodation-title {
 width: 811px;
 height: 26px;
font-size: 22px;
font-weight: 700;
margin-bottom: 25px;
}
.accommodation .popular-cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px; /* Space between cards */
    align-items:  start; 
    margin-top: 0;
}
.accommodation .popular-cards .paris-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    padding: 5px;
    padding-bottom: 0px;
    /* margin-top:5px; */
    margin-bottom: 0px;
    overflow: hidden; 
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 240px;
    height: 207px;
    
}

.accommodation .popular-cards .card-title {
margin-top: 0;
margin-bottom: 4px;
}

/* Accommodation Images (Full Width, Fixed Height) */
.accommodation .popular-cards .paris-card img {
    width: 240px;
    height: 114px; 
    object-fit: cover;
    border-radius: 15px 15px 0 0;
   
}
/* Text Content Inside Accommodation Cards */
.accommodation .popular-cards .card-content {
    padding-left: 10px;
    padding-bottom: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}



.show-more {
    grid-column: 1 / span 3; /* Stretch across all columns */
    text-align: left;
    font-weight: bold;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 30px;
    width: 15%;
}
/****** Popular ***********/
.popular {
    width: 429px;
    height: 614px;
    padding: 30px;
    gap: 30px;
    border-radius: 15px;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards{

    width: 369px;
    height: 498px;
    gap: 30px;
    margin: 0;
}
.popular-cards .card {
    display: flex;
    margin-top: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.popular-cards .card-content {
    width: 250px;
    padding-left: 15px;
    /* padding-right: 15px;
    gap: 8px; */

    display: flex;
    flex-direction:column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
    font-size: 14px;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}


/* Things to Do Section */

.things-to-do {
    /* margin: 50px 0px 30px 0;
    
    padding: 30px;
    text-align: left; */

    width: 1280px;
    height: 559px;
    padding: 30px 30px 20px 30px;
    gap: 30px;
}

.things-to-do h2 {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 8px;
    /* margin-bottom: 20px; */
}

.things-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 35px; */
   
}

.thing-card {

    width: 297px;
    height: 439px;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    
    /* overflow: hidden; */
    /* text-align:left;
    
    display: flex;
    flex-direction: column;
     */
    
   
}

.thing-card img {
    /* width: 100%;
    height:100%; */
    /* max-height: 500px; */
    /* object-fit: cover; */
    width: 297px;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.thing-title {
    font-size: 16px;
    font-weight: bold;
    padding-left: 19px;
    padding-top: 8px;
    /* margin: 15px; */
    flex-shrink: 0;
}

/* Links */

.card-link {
    text-decoration: none;
    color: inherit;
    
    /* display: block; */
}

.card-link-paris {
text-decoration: none;
color: inherit;
width: 297px;
height:439px;
}
/*Footer*/

footer {
    width: 1320px;
    height: 148px;
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 15px 20px;
}

.footer-container{

    /* width: 100%;   adjusts size of the whole footer */
    width: 1340px;
    height: 163px;
}
table{

    width: 1340px;
    height: 163px;
    table-layout: fixed;
}

 td {
    padding: 6px;
    text-align: left;
    font-size: 16px;
}

th {
    padding: 6px;
    text-align: left;
font-size: 18px;
    width: 33.33%
}

tr td a{

text-decoration: none;
color: inherit;
/* display: block; */
position: relative; /* Required for positioning the pseudo-element */
}
tr td a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px; /* The height of the underline */
   background-color:#7C7874 ;
    transition: width 0.1s ease-out; /* Smooth transition for the underline */
}


tr td a:hover{

    text-decoration: underline;

}

tr td a:hover::after {
    width: 100%; /*Full width when hovered*/
}

/*to change anchors in TH as well*/

tr th a{

    text-decoration: none;
    color: inherit;
    
    position: relative; /*Required for positioning the pseudo-element*/
    }
    
    /* 
    tr th a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 2px; The height of the underline
       background-color:#7C7874 ;
        transition: width 0.1s ease-out; Smooth transition for the underline
    }
    
    
    
    
    tr th a:hover{
    
        text-decoration: underline;
    
    }
    
    tr th a:hover::after {
        width: 100%; Full width when hovered
    }
     */



